* {
    margin: 0;
    padding:0;
}
body{
    font-family: monospace, sans-serif;
    background-color: aquamarine;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #000;
    box-shadow: #000;
}
.text-pop-up-right {
	-webkit-animation: text-pop-up-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: text-pop-up-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

 @keyframes text-pop-up-right {
    0% {
      transform: translateX(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateX(50px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  
button {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
   }
   
   button:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
   }
   
   button:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }
  
  
  